.d-s-l-a {
  width: 100%;
}
.d-s-l-a .aa-input,
.d-s-l-a .aa-hint {
  width: 100%;
}
.d-s-l-a .aa-hint {
  color: #999;
}
.d-s-l-a .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  box-shadow: var(--ifm-navbar-shadow);
  margin-top: 8px;
  border-radius: 4px;
}
.d-s-l-a .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.d-s-l-a .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #b2d7ff;
}
.d-s-l-a .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.d-s-l-a .aa-suggestion-section::before {
  content: "〉";
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.d-s-l-a .aa-dropdown-menu .aa-suggestion-empty::after {
  content: "No results";
}
html[data-theme="dark"] .d-s-l-a .aa-dropdown-menu {
  background-color: #1e2125;
}
html[data-theme="dark"] .d-s-l-a .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #3578e5;
}
